.nav-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.sideNav {
  margin-left: 0.4%;
}

mat-sidenav {
  width: 200px;
}

a {
  color: black;
  text-decoration: none;
}

.padding-main {
  padding: 0.5%;
}

.active {
  color: #00a700;
}
